{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Background image -->
<div class="p-5 mt-4">
    <p class="text-center text-muted" style="font-weight: light;">
    The awwards of design, creativity and innovation on the internet</p>
</div>
<div id="intro" class="bg-image">
    <div class="container d-flex align-items-center justify-content-center text-center h-100">
    <div class="text-white">
        <h1 class="mb-3">Grande Awwards</h1>
        <h5 class="mb-4">Web Design ~ Usability ~ Creativity ~ Content</h5>
        <div class="input-group align-items-center justify-content-center">
                <div class="form-outline">
                <input type="search" id="form1" class="form-control" />
                <label class="form-label" for="form1">Search Project</label>
                </div>
                <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
                </button>
        </div>
    </div>
    </div>
]
</div>
<!-- Background image -->

{% endblock content %}